<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span *ngIf="currentPlayer?.id; else elseBlock">
        {{ originalName | titlecase }}
      </span>
      <ng-template #elseBlock>Select a Player</ng-template>
    </mat-card-title>
  </mat-card-header>
  <form #form="ngForm" (submit)="saved.emit(currentPlayer)">
    <mat-card-content>
      <mat-form-field class="full-width" appearance="outline" floatlabel>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Name"
          [(ngModel)]="currentPlayer.name"
          name="name"
          required
          type="text"
        />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline" floatlabel>
        <mat-label>Jersey #</mat-label>
        <textarea
          matInput
          placeholder="jersey"
          [(ngModel)]="currentPlayer.jersey"
          name="jersey"
          type="text"
        ></textarea>
      </mat-form-field>
      <section class="full-width" appearance="outline" floatlabel></section>
      <section class="full-width">
        <h4>{{ currentPlayer.rating }} Overall Rating</h4>
        <mat-slider
          class="full-width"
          min="0"
          max="100"
          thumbLabel
          name="Rating"
          [(ngModel)]="currentPlayer.rating"
        >
        </mat-slider>
      </section>
    </mat-card-content>
    <section>
      <mat-checkbox [(ngModel)]="currentPlayer.allstar" name="allstar">
        Allstar
      </mat-checkbox>
    </section>
    <mat-card-actions>
      <button
        type="submit"
        [disabled]="form.invalid"
        mat-button
        color="primary"
      >
        Save
      </button>
      <button type="button" mat-button (click)="cancelled.emit()">
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
